APP_CONFIG=config.yaml
HARDWARE_MODE=mock
TURBOPI_VENDOR_PATH=vendor/TurboPi
TURBOPI_SERIAL_DEVICE=/dev/ttyAMA0
CAMERA_MODE=mock
IMX500_MODEL_PATH=/usr/share/imx500-models/imx500_network_ssd_mobilenetv2_fpnlite_320x320_pp.rpk
TRACKING_ENABLED=true
PAN_TILT_CONTROL_ENABLED=true
AUDIO_ENABLED=true
AUDIO_MODE=mock
